<div class="archive-item">
  <a href="/project/{{ project.data.title | slugify }}/"
     onmouseenter="onHoverEffect(this)"
     onmouseleave="onLeaveHoverEffect(this)">
    <span class="archive-date text"><i>{{ project.data.date-completed }}</i></span>
    <span class="archive-title text">{{ project.data.title }}</span> 
  </a>
</div>
